snippet skeleton "A skeleton for .html" b
<!DOCTYPE html>
<html>

    <header>
        <link type="text/css" rel="stylesheet" href="${2:stylesheet.css}">
        <title>${1:<!-- title -->}</title>
    </header>

    <body>
        ${3:<!-- content -->}
    </body>

</html>
endsnippet

