snippet #! "A html5 compliant skeleton for *.html" b
<!DOCTYPE html>
<html>

<header>
		<title>${1:title}</title>
		<meta charset="utf-8">
</header>

<body>
		${3:content}
</body>

</html>
endsnippet
