# vim: filetype=snippets

extends sh

snippet ifsys "switch uname -s" b
case \$(uname -s) in
	Darwin )
		${1:# for MacOS}
		;;
	CYGWIN* )
		${2:# for Cygwin on Windows}
		;;
	Linux )
		${3:# for Linux}
		;;
  * )
    echo "\e[31m[.zshrc]: un-recognized platform."
    ;;
esac
$0
endsnippet
